
/* BOX SIZING  */
* {
  box-sizing: border-box;
}

p {
    font-size: 20px;
    font-weight: 300;
}

h1,h2,h3,h4,h5,h6 {
    text-transform: uppercase;
    /* font-family: 'Roboto Slab', serif; */
    font-weight: 700;
}


body {
    overflow-x: hidden;
}

/* 4.1 HEADER */
header {
    text-align: center;
    color: #FFF;
    background: url(../images/arctic.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header img {
    display: block;
    margin: 0 auto 20px;
    border-radius: 30%;
}

header .intro-text .name {
    display: block;
    text-transform: uppercase;
    /* font-family: 'Roboto Slab', serif; */
    font-size: 2em;
    font-weight: 700;
}

header .intro-text .skills {
    font-size: 1.25em;
    font-weight: 300;
    font-family: Open Sans, sans-serif;
    font-style: light;
}

@media(min-width:950px) {
    header .container {
        padding-top: 200px;
        padding-bottom: 186px;
    }
    header .intro-text .name {
        font-size: 4.75em;
    }
    header .intro-text .skills {
        font-size: 1.75em;
    }
}

@media(min-width:768px) {
    header .container {
        padding-top: 200px;
        padding-bottom: 186px;
    }
    header .intro-text .name {
        font-size: 4.75em;
    }
    header .intro-text .skills {
        font-size: 1.75em;
    }
}
/* 4.2 PORTFOLIO */
@media (min-width:600px ){
.sm-title {
    text-align: center;
    position: relative;
    top: 26px;
    padding-bottom: 25px;
    padding-left: 12px;
    padding-right: 12px;
    }
}
/* Description Body */
section {
      padding-top: 55px;
      padding-left: 55px;
      padding-right: 55px;
      padding-bottom: 50px;
}

section#about {
    text-align: center;
    color: white;
    background: url(../images/experience.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#portfolioheader {
margin-bottom:10px;
}

@media(max-width:767px) {
    section {
        padding: 75px 0;
    }

    section.first {
        padding-top: 75px;
    }
}


.contact {
    background-color: ghostwhite;
    padding: 60px;
    margin-bottom: 5px;
}

.socialBtn {
  padding-left: 10px;
  padding-right: 10px;
}

/* #socialheader {
margin-bottom: 5px;
} */

/*** LINKS & BUTTONS ***/
a,
a:hover,
a:focus,
a:active,
a.active {
    text-decoration: none;
}

a:hover, a:active {
    opacity: 0.5;
}


/** portfolio list **/
#portfolio {
	display: block;
	width: 100%;
	padding: 45px 12px 0;
	margin-bottom: 35px;
	text-align: center;
	background-color: #FFF; 
}

#portfolio .item {
	display: none;
	opacity: 0;
	width: 30%;
	vertical-align: top;
	margin-bottom: 25px;
	margin-right: 20px;
	color: #fff;
	font-size: 30px;
	text-align: center;
	width: 207px;
	-moz-box-sizing: border-box;
}
#portfolio .item1 {
	display: none;
	opacity: 0;
	vertical-align: top;
	margin-bottom: 25px;
	margin-right: 20px;
	color: #fff;
	font-size: 30px;
	text-align: center;
	-moz-box-sizing: border-box;
}

#portfolio .item a {
  display: inline-block;
  max-width: 100%;
  text-decoration: none;
  background: #fff;

}
#portfolio .item img {
  padding: 12px 13px 0px 2px;
  max-width: 100%;
}
.sm-title-testimonial{
	position: relative;
	top: -25px;
}

@media (max-width: 768px){
	#filter-list li {
	    margin: 0 auto;
	    margin-bottom: 10px;
	    display: table;
	}
	#portfolio {
    padding: 30px 0 !important;
 	}
 	#portfolio .item{
 		margin-right: 0 !important;
 	}
 	#portfolio .item img {
    padding: 0 !important;
	}
}